body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show {
    top: 0;
    right: 0;
    background-color: lightgrey;
    z-index: 1;
    margin: 0;
    display: block;
    height: 20%;
    width: 30%;
    margin-left: 90%;
    border-radius: 5px;
}
